{% extends 'layout/base.html' %}

{% block content %}
    <section id="hero-area" >
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="block wow fadeInUp" data-wow-delay=".3s">

                        <!-- Slider -->
                        <section class="cd-intro">
                            <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s" >
                                <span>HI, MY NAME IS Dragus Patrick & I AM A</span><br>
                                <span class="cd-words-wrapper">
                                    <b class="is-visible">Full Stack</b>
                                    <b>Developer</b>
                                    <b>&</b>
                                    <b>iOS</b>
                                </span>
                            </h1>
                        </section> <!-- cd-intro -->
                        <!-- /.slider -->
                        <h2 class="wow fadeInUp animated" data-wow-delay=".6s" >
                            With 10 years experience, I've occupied many roles including digital design director,<br> web designer and developer. This site showcases some of my work.
                        </h2>
                        <a class="btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green" data-wow-delay=".9s" href="#works" data-section="#works" >View Works</a>

                    </div>
                </div>
            </div>
        </div>
    </section><!--/#main-slider-->

    <section id="works" class="works">
        <div class="container">
            <div class="section-heading">
                <h1 class="title wow fadeInDown" data-wow-delay=".3s">Latest Works</h1>
                <p class="wow fadeInDown" data-wow-delay=".5s">
                    We collaborate with visionary leaders on projects that focus on quality and require the expertise of a highly-skilled and experienced team.
                </p>
            </div>
            <div class="row">
                {% for project in project_list %}
                <div class="col-sm-4 col-xs-12">
                    <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                        <div class="img-wrapper"\>
                            <img src="https://codixital.com/storage/phptXGjrt.png" class="img-responsive" alt="{{ project.title }}" style="width: 100%;padding: 15px;height: 100px;object-fit: cover;min-width: 100%;">
                            <div class="overlay">
                                <div class="buttons">
                                    <a rel="gallery" class="fancybox" href="https://codixital.com/storage/phptXGjrt.png">Demo</a>
                                    <a target="_blank" href="{% url 'project_detail' project.slug %}">Details</a>
                                </div>
                            </div>
                        </div>
                        <figcaption>
                            <h4>
                                <a href="{% url 'project_detail' project.slug %}">
                                    {{ project.title }}
                                </a>
                            </h4>
                            <p>
                                {{ project.content | safe }}
                            </p>
                        </figcaption>
                        <div class="item-details">
                            <div class="item-name">
                                <p class="item-title">{{ project.title }}</p>
                                <p class="item-link">www.codixital.ro</p>
                            </div>
                            <div class="item-logo">
                                <img src="https://activedesign.ro/wp-content/themes/newactivev2/images/mine/portofoliu/prestashop.png">
                            </div>
                        </div>
                    </figure>
                </div>
                {% endfor %}
            </div>
        </div>
    </section> <!-- #works -->

{% endblock %}
